@import url('https://fonts.googleapis.com/css?family=Exo:300,400,700,900|Passion+One:700');

html, body {
    height: 100%;
    width: 100%;
}

body {
    font-family: 'Exo', sans-serif;
    padding-top: 70px;
}

section {
    min-height: 100%;
    width: 100%;
}

.inline-block{
	display: inline-block;
}
